.debug {
  background-color: rgb(247, 217, 162);
}

.row.pv-nav{ 
  min-height: 50px;
  background-color: #2c3e50;
  color: white;
}

.pv-header{
  min-height: 300px;
  background-color: #1abc9c;
  color: white;
}

.pv-header-img{
  min-height: 120px;
  padding-top: 30px;
}

.row.pv-portfolio{
  background-color: rgb(236, 236, 140);
  max-height: 1200px;
}

.pv-portfolio-img{
  border-radius: 5px;
  height: 150px;
}

.violet{
  background-color: #ba4c63
}
.acqua{
  background-color: #1fa4b6;
}
.black{
  background-color: black;
}
.azure{
  background-color: #1d83c1;
}
.blue{
  background-color: #1037b5;
}
.pink{
  background-color: pink;
}