/* Comune */
.pv-padding-80{
  padding: 80px 0;
}

.pv-padding-30{
  padding: 30px 0;
}

.pv-padding-20{
  padding: 20px 0;
}

.pv-wrapper-50{
  width: 50%;
  margin: 0 auto;
}

.text-uppercase{
  text-transform: uppercase;
}

.pv-fs-40{
  font-size: 40px;
}

.pv-fs-30{
  font-size: 30px;
}

.pv-fs-20{
  font-size: 20px;
}

.pv-fs-18{
  font-size: 18px;
}

/* header */
.pv-hamb{
  border: 1px solid white;
  border-radius: 10%;
  padding: 5px;
}

.pv-ul-hidden{
  list-style: none;
}

.pv-ul-hidden li{
  display: inline;
  line-height: 80px;
  padding-left: 15px;
}

.pv-header-top{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
  background-color: #2c3e50;
  color: white;
}

.pv-header-bottom{
  margin-top: 80px;
  min-height: 300px;
  background-color: #1abc9c;
}

.pv-jumbotron{
  width: 80%; 
  min-height: 300px;
  max-width: 800px;
  margin: 0 auto;
  color: white;
}

.pv-jumbotron img{
  max-height: 200px;
}

.pv-jumbotron ul{
  color: white;
  list-style: none;
}

.pv-jumbotron li{
  font-size: 25px;
  display: inline-block;
}

/* main */
/* portfolio */
.pv-box{
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
}

.pv-box img{
  max-height: 250px;
  margin: 0 auto;
}

#portfolio {
  color: #2c3e50;
}

/* About */
#about{
  background-color: #1abc9c;
  color: white;
}


/* Contact */
.pv-form{
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
}

#contact {
  color: #2c3e50;
}

/* footer */
footer{
  color: white;
}

.pv-footer-top{
  background-color: #2c3e50;
}

.pv-footer-bottom{
  background-color: #1a252f;
}

.footer-social li{
  display: inline; 
  padding: 15px 15px;
  border-radius: 50%;
  border: 1px solid white;
  }

.footer-social a{
  color: white;
}

/* Btn */
.btn{
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 15px;
}

.btn.send{
  background-color: #1abc9c;
  color: white;
  padding: 10px 20px;
}