.pv-padding-80{
  padding: 80px 0;
}

.pv-padding-30{
  padding: 30px 0;
}

.pv-wrapper-50{
  width: 50%;
  margin: 0 auto;
}

.text-uppercase{
  text-transform: uppercase;
}

.pv-fs-40{
  font-size: 40px;
}

.pv-fs-30{
  font-size: 30px;
}

.pv-fs-20{
  font-size: 20px;
}

.pv-header-top{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
  background-color: #2c3e50;
  color: white;
}

.pv-header-bottom{
  margin-top: 80px;
  min-height: 300px;
  background-color: #1abc9c;
}

.pv-jumbotron{
  width: 80%; 
  min-height: 300px;
  max-width: 800px;
  margin: 0 auto;
  color: white;
}

.pv-jumbotron img{
  max-height: 200px;
}

.pv-jumbotron ul{
  color: white;
  list-style: none;
}

.pv-jumbotron li{
  font-size: 25px;
  display: inline-block;
}

.pv-box{
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
}

.pv-box img{
  max-height: 250px;
  margin: 0 auto;
}

.btn{
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 15px;
}

#portfolio {
  color: #2c3e50;
}

#about{
  background-color: #1abc9c;
  color: white;
}